terraform {
  required_providers {
    openstack = {
      source  = "opentofu/openstack"
      version = "1.54.1"
    }
  }
}

provider "openstack" {
  auth_url    = "{{ auth_url }}"
  tenant_name = "{{ tenant_name }}"
  user_name   = "{{ user_name }}"
  password    = "{{ password }}"
  region      = "{{ region }}"
  domain_name = "{{ domain_name }}"
}
